@{
    Layout = "_LayoutAdmin";
}

@using QLThuVienPhanTan.ViewModels._UserViewModels
@model CreateUser

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-xl px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="grid"></i></div>
                        Create new User
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="container-xl px-4 mt-4">
    <div class="card">
        <div class="card-body">
            <div class="col-lg-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <form asp-action="create" method="post" class="form-horizontal" role="form">
                            <div class="mb-3">
                                <label asp-for="Email" class="small mb-1">Email</label>
                                <input asp-for="Email" class="form-control" type="email" placeholder="Enter your email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="FullName" class="small mb-1">Full Name</label>
                                <input asp-for="FullName" class="form-control" type="text" placeholder="Enter your full name" />
                            </div>
                            <div class="mb-3">
                                <label asp-for="RoleId" class="small mb-1">Select User's Role</label>
                                <select asp-for="RoleId" asp-items="Model.RoleList" class="form-select">
                                    <option value="">-- Select Role --</option>
                                </select>
                            </div>
                            <!-- Form Group (confirm password)-->
                            <div class="mb-3">
                                <label asp-for="Password" class="small mb-1">Password</label>
                                <input asp-for="Password" class="form-control" type="password" placeholder="Enter password" />
                            </div>
                            <div class="mb-3">
                                <label asp-for="ConfirmPassword" class="small mb-1" >Confirm Password</label>
                                <input asp-for="ConfirmPassword" class="form-control" type="password" placeholder="Confirm new password" />
                            </div>
                            <button class="btn btn-primary" type="submit">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}